@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors! (Dark Theme)
@use '@material/theme/index' as theme with (
  $primary: #00ddff,
  $secondary: color.scale(#b300ff, $whiteness: -10%),
  $surface: color.adjust(color-palette.$grey-900, $blue: +4),
  $background: #141414,
  $error: color-palette.$red-700
);
// Make sure SMUI's import happens first, since it specifies variables.
@use '@smui/snackbar/style' as smui-snackabar;
// See https://github.com/material-components/material-components-web/tree/v14.0.0/packages/mdc-snackbar
@use '@material/snackbar/mixins' as snackbar;
@use '@material/button/mixins' as button;
@use '@material/elevation/mdc-elevation';
@use '@material/elevation/mixins' as elevation;
@use '@material/theme/theme-color';
@use '@material/linear-progress/mixins' as linear-progress;
html,
body {
  background-color: #000;
  color: theme.$on-surface;
}

a {
  color: #ffffff;
}
a:visited {
  color: color.scale(#40b3ff, $lightness: -35%);
}

.my-primary {
    // Set the font color.
    @include theme.property(color, primary);
   
    &.elevated {
      // And the elevation color.
      @include elevation.elevation(24, secondary);
    }
  }

.hover-elevated:hover {
    // Set the font color.
    @include theme.property(color, primary);
   
    &.elevated {
      // And the elevation color.
      @include elevation.elevation(24, secondary);
    }
  }

 
.my-colored-button {
  &.mdc-button {
    @include button.ink-color(#00ddff);
  }
  &.mdc-button--unelevated,
  &.mdc-button--raised {
    @include button.filled-accessible(#00ddff);
  }
  &.mdc-button--outlined {
    @include button.outline-color(#00ddff);
    @include button.ink-color(#00ddff);
  }
 
}

.mdc-snackbar.demo-success {
    @include snackbar.fill-color(color-palette.$green-500);
    @include snackbar.label-ink-color(
      theme-color.accessible-ink-color(color-palette.$green-500)
    );
  }

  .mdc-snackbar.demo-warning {
    @include snackbar.fill-color(color-palette.$orange-500);
    @include snackbar.label-ink-color(
      theme-color.accessible-ink-color(color-palette.$orange-500)
    );
  }
   
  .mdc-snackbar.demo-error {
    @include snackbar.fill-color(color-palette.$red-500);
    @include snackbar.label-ink-color(
      theme-color.accessible-ink-color(color-palette.$red-500)
    );
  }

  .my-colored-linear-progress {
    @include linear-progress.bar-color(#b300ff);
    @include linear-progress.buffer-color(color-palette.$green-200);
  }